/*Code for the login form*/
.login-form-container {
  display: none;
  position: fixed;
  top: 50px;
  right: 0px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.login-form-triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -10px;
  right: 20px; /* Change this value to adjust the triangle's horizontal position */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.login-form input {
  margin-bottom: 10px;
  padding: 5px;
}


/* CSS */
.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 12px;
  line-height: 1.0;
  margin: 0;
  padding: 10px 15px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
  transform: translateY(-1px);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.315);
}



.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.041) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 5px 8px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 12px;
}


.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.219) 0 4px 5px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-1px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 2px 8px inset;
  transform: translateY(1px);
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .login-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  
  
  header {
    text-align: center;
    padding: 20px 0;
  }

  .company-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*
    font-family: 'Segoe UI';
    */
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .logo-container {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .logo {
    width: 100px;
  }
  
  .nav-list {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 50px;
  }
  
  .nav-list li {
    display: inline;
    margin: 0px 10px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    position: relative;
    overflow: hidden;
  }

  .nav-list a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, transparent 10%, rgba(255, 255, 255, 0.5) 50%, transparent 50%);
    background-size: 200%;
    background-position: -100% 0;
    transition: background-position 0.5s ease;
  }
  
  .nav-list a:hover::before {
    background-position: 100% 0;
  }

  /*
  .nav-list a:hover {
    color: rgb(58, 6, 107);
  }
  */
  
  .home-image-container {
    position: relative;
    height: calc(35vh + 20vw);
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://fibercon.files.wordpress.com/2023/03/pexels-photo-2255938.jpeg");
  }


  .home-image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  
  .home-image {
    display:none;
  }
  

  .home-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 50%;
    left: 10%; 
    transform: translateY(-50%);
    color: #fff;
    font-size: 40px;
    z-index: 2;
    width: 20%;
    text-shadow: 5px, 5px, 4px #000;
    }
  
  footer {
    padding: 60px 0;
    text-align: center;
  }
  
  .footer-columns {
    display: flex;
    justify-content: center;
  
  }
  
  .footer-column {
    flex: 1;
    max-width: 600px;
    padding: 20px;
    margin-left: 80px;
    text-align: left;
  }
  
  .footer-column h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  




main h1 {
  text-align: center;
  font-size: 45px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

main h4 {
  text-align: center;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}


/*SERVICES PAGE*/

.services-offered-section {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.services-offered-section h5 {
  font-size: 18px;
  font-weight: normal;
}

.services-offered-section > div {
  width: calc(100% / 3 - 20px);
}

.services-title {
  width: 30%;
}

.services-items {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-item {
  text-align: left;
  /* border: 1px solid #ccc; */
}

.grid-item h5 {
  margin-bottom: 20px;
}




.companies-section {
  background-color: black;
  height: calc(25vh + 20vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.companies-title {
  width: 20%;
  padding: 10px;
  margin-top: 50px;
  font-size: 30px;
  text-align: left;
}

.companies-items {
  align-items: center;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px;
  margin-left: 50px;
}

.companies-items.grid-item {
  padding:30px;
  border: 1px solid #ccc;
}

.companies-section h3 {
  color: white;
  font-weight: normal;
  width: 30%;
  padding-left: 30px;
}

.companies-section h5 {
  color: white;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 3px;
}

.companies-section p {
  color: white;
  font-weight:  50;
  font-size: 12px;
}

.testimonials-section {
  height: 24vh;
}

.company-logo {
  width: 30vw;
  height: 25vh;
  object-fit: cover;
  border-radius: 20px;
}



/* Contact Form Styles */
.contact-form-container {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 80px;
}


@media screen and (max-width: 700px) {
  .services-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .companies-section {
    display: block;
    height: auto;
    padding: 0px;
    margin: 0px;
  }
  .companies-title {
    text-align: left;
    width: 10%;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  .companies-items {
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .companies-items p {
    padding-bottom: 40px;
  }
  .company-logo {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 0px;
    border-radius: 0px;
  }
  .home-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
  }
}